{% extends "base.html" %}
{% block content%}
<div class="container">

    <form class="well form-horizontal" action="insertD" method="post"  id="contact_form">
<fieldset>
<legend><center><h3>Add Doctor</h3></center></legend>

<!-- Text input-->

<div class="form-group">
  <div class="col-sm-4 offset-4 " >
   
  Doctor name:<input name="name" placeholder="dr.Name" class="form-control"  type="text" required>
  </div>
</div>

<!-- Text input-->

<!-- Text input-->

       <div class="form-group" style="text-align: center;">
     <label class="col-sm-0.5 control-label">Gender</label>
    <div class="form-check form-check-inline" style="padding: 0px 15px 0px 15px; text-align: center;">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="M">
       <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="F">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
 </div> 
 
<!-- Text input-->
<div class="form-group">
  <div class="col-sm-4 offset-4 ">
Age:<input name="age" placeholder="Age" class="form-control"  type="number" required>
</div>
</div>


       <div class="form-group">
    <div class="col-sm-4 offset-4 ">
  Email:<input name="email" placeholder="E-Mail Address" class="form-control"  type="email" required>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">  
    <div class="col-sm-4 offset-4 ">     
  Contact no.:<input name="phone" placeholder="(+91)" class="form-control" type="number" required>
  </div>
</div>


<div class="form-group">
    <div class="col-sm-4 offset-4 ">         
    Department:<select name="department" class="form-control selectpicker""  required>
      <option value="">--select department--</option>
      {% for each in dpt %}
        <option value="{{each.0}}">{{each.0}}</option>
      {% endfor %}
  
    </select>
  </div>
  </div>
  
 
       
<div class="form-group"> 
    <div class="col-sm-4 offset-4 ">
    
  Salary:<input class="form-control" type="number" name="salary" required>
  </div>
</div>  
  
  
<!-- Select Basic -->

<!-- Success message -->
    <label class="col-md-4 control-label"></label>
  <div class="col-sm-4 offset-4 ">
    <a href="insertD"></a><button type="submit" class="btn btn-primary" style="margin-right: 170px;">Submit</button></a>
    <button type="Reset" class="btn btn-primary">Reset</button>
  </div>
</fieldset>
</form>
</div>
{%endblock%}