{% extends "base.html" %}
{% block content%}
<div class="container">

    <form class="well form-horizontal" action="scheApp" method="POST"  id="contact_form">
<fieldset>
<legend><center><h2>Schedule Appointment</h2></center></legend>
<br><br>
<div class="form-group">
    <div class="col-sm-4 offset-4 ">    
      <div class="box">
    Doctor:<select name="doctor" class="form-control selectpicker" data-live-search="true" required>
      <option value="">--select doctor--</option>
      {% for each in dlist %}
        <option value="{{each.0}}">{{each.1,each.6}}</option>
      {% endfor %}
      </select>
  </div>
</div>
</div>

<div class="form-group">
    <div class="col-sm-4 offset-4 ">         
    Patient name:<select name="patient" class="form-control selectpicker"  required>
      <option value="">--select patient--</option>
      {% for each in plist %}
        <option value="{{each.0}}">{{each.1,each.4}}</option>
      {% endfor %}  
    </select>
  </div>
  </div>
<!-- Text input-->
       
<div class="form-group">  
    <div class="col-sm-4 offset-4 ">     
  Date:<input name="date" placeholder="yyyy-mm-dd" class="form-control" type="date" required>
  </div>
</div>
  
<!-- Select Basic -->

<!-- Success message -->
    <label class="col-md-4 control-label"></label>
  <div class="col-sm-4 offset-4 ">
      <button type="submit" class="btn btn-primary" style="margin-right: 170px;">Submit</button>
      <button type="Reset" class="btn btn-primary">Reset</button>
  </div>
</fieldset>
</form>
</div>
{%endblock%}